body { font-family: "BebasNeueLight", Helvetica, Arial, sans-serif; font-size: 14px; line-height: 1.6; color: #fff; background-color: #fff; }
@media (min-width: 1200px) { 
  .container { width: 1140px; } 
  .address__widgets{ width: 100%; min-height: 85px;}
  .no-desctop{display: none;}
  .top-main { display: inline-block;}
  .top-main.main-1 {width: 41%; float: left;}
  .top-main.main-2 {width: 40%; float: right;}
  header.header {width: 100%; display: inline-block;}
  .header__logo {display: block; width: 19%; float: left;}
  ul#menu-menu_2 {text-align: right; border-bottom: 3px solid #3a4255; float: right;}
  .widget.widget-social-icons {     padding-top: 30px; padding-right: 20px; width: 100%;}
  img.img-responsive {position: absolute;margin-top: 42px;/*margin-left: -24px;*/}
  span.city-block {
      display: inline-block;
      clear: both;
      width: 100%;
      color: #e31e24;
      font-size: 22px; 
      font-weight: bold;
      letter-spacing: 1.5px;
      display: inline-block;
      text-shadow: 0px 0px 1px #e31e24;
      line-height: 1;
      padding-top: 5px;
  }
  span.street-block {
    color: #fff;
    font-size: 18px;
    line-height: 1.2;
    font-weight: bold;
    letter-spacing: 1px;
    display: inline-block;
  }
  .address-line {
    display: inline-block;
  }
  .address__widgets .textwidget {
    margin-top:10px;
  }

  ul#menu-menu_2 > li > a {
      line-height: 1;
  }

  #menu-menu_2 .menu-item-has-children a{
    padding-right: 0;
    text-align: left;
  }


  span.phone-line span {
    color: #ff181f;
    font-weight: bold;
    text-shadow: 0px 0px 1px #e31e24;
  }
  
  .phones-block .phone-line:before {
    content: "";
    float: left;
    width: 21px;
    height: 21px;
    margin: 0px 10px 0 0;
    background: url(assets/images/phone.png) no-repeat;
  }

  .address__widgets .textwidget:before {
    content: "";
    float: left;
    width: 30px;
    height: 50px;
    margin: 15px 20px 0 0;
    background: url(assets/images/icon-lacation.png);
  }
  .phones-block {
      padding-top: 23px;
  }
  nav#cargopress-navbar-collapse {
   /* margin-top: 8px;*/
  }

  .main-2 .header__navigation.js-sticky-offset {
     /* margin-left: -65px;*/
  }

}
@media (min-width: 1200px) { .header__navigation { width: 100%; margin-left: 0px; margin-top: 0px; margin-bottom: 5px; } }
@media (min-width: 992px) { .header__widgets { -webkit-order: 2; -ms-flex-order: 2; order: 2; width: 100%; height: 95px; text-align: right; padding: 0; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-justify-content: flex-end; -ms-flex-pack: end; justify-content: flex-end; } }
@media (min-width: 1200px) { .main-navigation { padding-left: 0px; border-bottom: 3px solid #3a4255; display: inline-block;} }
@media (min-width: 992px) { 
  .main-navigation > li > a { color: #ffffff; padding: 20px 7px 16px; line-height: 1;} 
  #menu-menu_2 > li > a { padding: 20px 10px 16px; line-height: 1;} 


  .main-navigation > li:nth-child(1) > a { /*padding-left:0px;*/ } 
  .main-navigation > li:last-child > a { padding-right:0px!important; } 
  ul#menu-menu_2 > li:nth-child(1) > a { /*padding-left:0px;*/ } 
}
@media (min-width: 992px) { .main-navigation > li > a::before { display: none; } }
@media (min-width: 992px) { 
  .main-navigation > .current-menu-item > a::after { display: none; } 
  .main-navigation > .current-menu-item > a { color: #e31e24; text-shadow: 0px 0px 1px #e31e24;} 

}
@media (min-width: 992px) { 
  .main-navigation > li:hover > a::after, .main-navigation > li:focus > a::after, .main-navigation > li[aria-expanded="true"] > a::after { display: none; } 
  .main-navigation > li:hover > a, .main-navigation > li:focus > a, .main-navigation > li[aria-expanded="true"] > a { color: #e31e24; text-shadow: 0px 0px 1px #e31e24;} 
}
@media (min-width: 992px) { 
  .social-icons__link {  margin-left: 0px; margin-right: 0; background-color: transparent; color: #ffffff;} 
}
@media (min-width: 992px) { 
  .header__container { 
      background: url(assets/images/top-fon.jpg) repeat-x top center;
      z-index: 999;
  }
}

.phones-block span.phone-line:nth-child(1) { padding-bottom: 10px; line-height: 1; display: inline-block; clear: both; font-size: 22px; font-weight: bold; color: #fff; letter-spacing: 1px;}
.phones-block span.phone-line:nth-child(2) { line-height: 1; display: inline-block; clear: both; font-size: 22px; font-weight: bold; color: #fff; letter-spacing: 1.5px;}
.header__widgets, .header__logo, .header__container::before, .header__container::after, .header__logo::after { background-color: transparent; }
.main-navigation > li > a { font-size: 22px; letter-spacing: 2.5px; }
.main-navigation > li > a:hover { background: rgba(37, 38, 40, 0.49); }
.social-icons__link { width: 40px; height: 0;}

.menu-item-has-children {
    padding: 0 20px 0px 5px;
}

#menu-we_do .menu-item-has-children {
    padding: 0;
}

@media (min-width: 992px) { .social-icons__link:hover { background-color: #ffffff; color: #e31e24; } }
@media (min-width: 992px) { .main-navigation .menu-item-has-children > a { padding: 20px 0 16px; } }
@media (min-width: 992px) { 
  .main-navigation .menu-item-has-children::after {
    position: absolute;
    content: "\f0d7";
    font-family: "FontAwesome";
    font-size: 22px;
    right: 3px!important;
    color: #ffffff;
    top: 0;
    margin-top: 15px;
  } 
  .main-navigation .current-menu-item::after {
    color: #e31e24;
  }
}
@media (min-width: 992px) { 

  .main-navigation .menu-item-has-children:hover  { 
    background-color: rgba(37, 38, 40, 0.49);
  }
  .main-navigation .menu-item-has-children:hover > a { 
    color: #1f425d;
    background-color: transparent;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    padding: 20px 0 16px;
    margin: 0;
    color: #ff181f;
    text-shadow: 0px 0px 1px #e31e24;
  }

}

.main-navigation .menu-item-has-children:hover::after { color: #ff181f; }
@media (min-width: 1200px) { .header__logo::after {
  display: none;
  } }
@media (min-width: 992px) { .main-navigation > li { /*padding-top:0;*/ } }
.main-navigation .sub-menu > li > a { display: block; font-size: 16px; font-weight: bold; padding: 4px 20px; background-color: #000; color: #fff; letter-spacing: 2px;}
.main-navigation .sub-menu > li > a:hover {text-shadow: 0px 0px 1px #e31e24;}
.main-navigation > li:hover > .sub-menu, .main-navigation > li:focus > .sub-menu, .main-navigation > li[aria-expanded="true"] > .sub-menu { 
    left: -5px;
    text-align: left;
    padding-top: 5px;
}
.slider-block{
  background-image: url(assets/images/podloka-bottom.png), url(assets/images/podloka-top.png), url(assets/images/fon1.jpg);
  background-repeat:  repeat-x, repeat-x, no-repeat;
  background-position: bottom center, top center, top center;
  background-size:  auto, auto, 100%;
  margin-top: -150px;
}
.ls-v5 .ls-playvideo, .ls-v5 .ls-nav-sides, .ls-v5 .ls-bottom-slidebuttons a, .ls-v5 .ls-nav-prev, .ls-v5 .ls-nav-next, .ls-v5 .ls-nav-start, .ls-v5 .ls-nav-stop, .ls-v5 .ls-fullscreen, .ls-v5 .ls-loading-container {
    background-image: url(assets/images/skin.png)!important;
}

.ls-v5 .ls-nav-prev, .ls-v5 .ls-nav-next {
    width: 70px!important;
    height: 65px!important;
    z-index: 10000;
    top: 50%;
    margin-top: -25px;
    position: absolute;
}

.ls-v5 .ls-nav-next {
    background-position: -122px -1px!important;
}
.ls-v5 .ls-nav-next:hover {
  background-position: -122px -76px!important;
}

.uslugi-icon {
    height: 130px;
}
.uslugi-text:hover {
  border: 2px solid #3b4255;
}
a:hover {
  text-decoration: none;
}
.ramka {
  display: inline-block;
  width: 100%;
  border: 2px solid #e31e24;
  padding: 5px 5px 10px;
  margin-bottom: 20px;
}
.ramka .col-sm-12 {
  text-align: center;
  color: #e31e24
  font-size: 16px;
  margin-bottom: 5px;
}
ul.servises-lust li {
  color: #fff;
  font-family: roboto;
  line-height: 1.8;
  list-style: none;
  font-size: 14px;
}
ul.servises-lust li {
  padding-right: 5px;
}
.ramka .col-sm-12 {
text-align: center;
color: #e31e24;
font-size: 16px;
}
ul.servises-lust li {
  color: #fff;
  font-family: roboto;
  line-height: 1.8;
  list-style: none;
  font-size: 14px;
}
ul.servises-lust li > span {
  padding-right: 5px;
} 
ul.servises-lust {
  margin: 0;
  padding: 0;
}
.ramka:hover {
  box-shadow: 0px 0px 15px rgba(255, 24, 31, 0.77);
  cursor: pointer;
}
/*Product .sidebar*/

.sidebar {
    border: 2px solid #e31e24;
}
.sidebar__headings { 
  font-size: 18px;
  color: #fff; 
  margin-top: 18px; 
  margin-bottom: 10px;
  font-family: "BebasNeueLight", Helvetica, Arial, sans-serif;
  padding: 0px 13px;
  letter-spacing: 2px;
}
body.woocommerce-page .widget_product_categories ul > li > a { 
  font-size: 14px; 
  transition: all 100ms ease-out; 
  display: block; 
  background-color: #000; 
  color: #fff; 
  font-family: roboto;
  font-weight: 100; 
  border-radius: 2px; 
  padding: 4px 30px; 
  text-transform: none; 
  margin-bottom: -10px;
}
body.woocommerce-page .widget_product_categories ul > li > a:hover{
  color:#e31e24;
}
body.woocommerce-page .widget_product_categories ul > li > a:hover { 
  background: #000; 
  color: #fff; 
  text-decoration: none; 
}
@media (min-width: 992px) { body.woocommerce-page .widget_product_search .search-field { 
  float: left; 
  width: 88%; 
  border-top-right-radius: 0; 
  border-bottom-right-radius: 0; 
  border-right: none;
  margin-left: 13px; 
  } }
@media (min-width: 992px) { body.woocommerce-page .widget_product_search .search-field + input { 
  border-top-left-radius: 0; 
  border-bottom-left-radius: 0;  
  margin-left: 13px;
  width: 85px;
  height: 25px;
  } }
body.woocommerce-page .widget_product_search .search-field { 
  width: 88%; 
  border: 1px solid #e31e24; 
  background-color: #000; 
  padding: 6px 5px 6px 10px; 
  font-weight: normal; 
  height: 23px; 
  border-radius: 0px; 
  margin-bottom: 10px; 
  font-family: roboto;
}
body.woocommerce-page .widget_product_search .search-field + input { 
  width: 85px; 
  height: 25px; 
  background-color: #000; 
  border: 1px solid #e31e24; 
  color: #ffffff; 
  font-weight: normal; 
  border-radius: 0px; 
  transition: all 100ms ease-out; 
  font-family: roboto; 
}
body.woocommerce-page .widget_price_filter .ui-slider .ui-slider-handle, body.woocommerce-page .widget_price_filter .ui-slider .ui-slider-range { 
  background: #ff676b; 
  box-shadow: none; 
  border: none; 
}
body.woocommerce-page .widget_price_filter .price_slider_wrapper .ui-widget-content { 
  background: #3a4255; 
  width: 85%;
  margin-left: 13px;
}
.woocommerce .widget_price_filter .price_slider_amount .button{
  font-size:14px;
  float:left;
  width: 130px;
  height: 25px;
  background-color: #000000;
  padding: 0px 0px;
  margin-left: 13px;
  font-family: roboto;
  text-transform: none;
  font-weight: 100;
  color: #fff;
}
.woocommerce .widget_price_filter .price_slider_amount .button:hover{
  background: #75151a;
}
body.woocommerce-page a.button, body.woocommerce-page input.button, body.woocommerce-page input.button.alt, body.woocommerce-page button.button { 
  display: inline-block; 
  text-transform: uppercase; 
  font-family: roboto; 
  font-size: 14px; 
  padding: 15px 20px;
  text-shadow: none; 
  background-color: #000; 
  color: #fff; 
  transition: all 100ms ease-out; 
  border: 1px solid #e31e24;
  border-radius: 0px;
}
body.woocommerce-page .widget_product_search .search-field + input:hover, body.woocommerce-page .widget_product_search .search-field + input:focus { 
  background: #75151a; 
  outline: none; 
}
input#woocommerce-product-search-field-0:hover {
  background: #000;
}
body.woocommerce-page .widget_shopping_cart_content .buttons .wc-forward { 
  width: 88%;
  height: 25px;
  margin-bottom: 10px;
  margin-left: 13px;
  background-color: #000;
  border: 1px solid #e31e24;
  padding: 5px;
  font-size: 14px;
  text-transform: none;
  font-family: roboto;
  text-transform: none;
  line-height: 1;
  font-weight: normal;
}
body.woocommerce-page .widget_shopping_cart_content .buttons .wc-forward:hover { 
  background-color: #75151a; 
  color: #fff; 
  border: 1px solid #e31e24;
}
body.woocommerce-page .woocommerce-ordering .orderby, .woocommerce .woocommerce-ordering .orderby { 
  border: 1px solid #e31e24; 
  background-color: #000; 
  padding: 0px; 
  width: 158px;
  height: 25px;
  color: #fff;
  font-family: roboto;
  font-size: 13px;
}
body.woocommerce-page .woocommerce-result-count { 
  font-size: 14px; 
  color: #fff; 
  letter-spacing: 0; 
  margin-bottom: 0; 
  font-family: roboto;
}

.archive .product.type-product.status-publish:hover {
    box-shadow: 0px 0px 14px 1px #e31e24;
    border: 2px solid #e31e24;
}
body.woocommerce-page ul.products li.product{
 box-shadow: none; 
 color: #4ab9cf;  
 border: 2px solid #3a4255;
}
body.woocommerce-page ul.products li.product:hover{
  box-shadow: none;
  color: #4ab9cf;
  background: #54171c;
  border: 2px solid #e31e24;
  box-shadow: 0px 0px 14px 1px #e31e24;
}
body.woocommerce-page ul.products li.product a img{
  border-bottom: 2px solid #3a4255;
  border-radius: 0px;
}
body.woocommerce-page ul.products li.product, .woocommerce ul.products li.product {
  text-align: center;
}
body.woocommerce-page ul.products li.product:hover a img{
box-shadow: none;
border-bottom: 2px solid #e31e24;
}
.woocommerce ul.products li.product .woocommerce-loop-category__title,.woocommerce ul.products li.product .woocommerce-loop-product__title,.woocommerce ul.products li.product h3{
  padding:0 0;
  margin:0;
  font-size:1em;
  text-align:center;
  color: #fff;
}
body.woocommerce-page ul.products li.product .price, .woocommerce ul.products li.product .price{
  color:#e31e24;
  text-align:center;
  font-family: roboto;
  font-size: 18px;
  font-weight: 100;
  margin-bottom: 8px;
}
body.woocommerce-page ul.products li.product .button, .woocommerce ul.products li.product .button { 
  margin-top: 0; 
  width: 60%;
  height: 25px;
  font-family: "BebasNeueLight", Helvetica, Arial, sans-serif;
  font-size: 14px;
  padding: 5px;
  margin-bottom: 9px;
  line-height: 1.24;
  letter-spacing: 1px;
}
.woocommerce ul.products li.product:hover .button { 
background: #75151a;
color: #fff;
}
body.woocommerce-page ul.product_list_widget a { 
  color: #fff;
  margin-left: 13px;
  font-family: roboto; 
}
body.woocommerce-page ul.product_list_widget a:hover {
  color: #e31e24;
}
body.woocommerce-page .quantity { 
  width: 19%; 
  border-radius: 2px;
  margin-left: 13px;
  font-family: roboto; 
}
.woocommerce ul.cart_list li,.woocommerce ul.product_list_widget li{
  padding:0px 0;
  margin:0;
  list-style:none;
}
body.woocommerce-page ul.product_list_widget li img { 
  box-shadow: none; 
  border-radius: 2px; 
  width: 45px;
  height: 45px;
  margin-bottom: 10px;
  margin-right: 18px;
}
.woocommerce.widget_shopping_cart .total { 
  border-top: 0px solid rgba(0, 0, 0, 0.1);
  padding-top: 0px;
  margin-left: 13px;
  font-family: roboto;
}
body.woocommerce-page nav.woocommerce-pagination ul li span.current{
  background-color: #000;
  border: 1px solid #e31e24;
}
body.woocommerce-page nav.woocommerce-pagination ul li a:hover { 
  background-color: #75151a;  
  color: #fff
}

body.woocommerce-page nav.woocommerce-pagination ul li .next::after { 
  position: absolute; content: ""; 
  left: calc(50% - 3px); 
  top: calc(50% - 6px); 
  color: #aaaaaa; 
  font-family: "FontAwesome"; 
}
body.woocommerce-page nav.woocommerce-pagination ul li .page-numbers { 
  width: 38px;
  height: 35px;
  padding: 9px 0 16px 0;
  font-weight: bold;
  background: #000;
  border: 1px solid #3a4255; 
}
body.woocommerce-page .entry-summary .entry-title { 
  font-size: 24px;
  text-transform: none;
  margin-bottom: 10px;
  color: #fff;
  font-family: Roboto-Thin;
  margin-left: 28%;
}
body.woocommerce-page div.product p.price { 
  color: #75151a; 
  font-size: 22px; 
  font-weight: 900; 
  font-family: Roboto-Thin; 
  margin-bottom: 20px; 
  margin-left: 40%;
  margin-top: 12px;
}
body.woocommerce-page .quantity .qty { 
  width: 47%;
  height: 30px;
  border: 1px solid #e31e24;
  background-color: #000000;
  border-radius: 0px;
  color: #ffffff;
  font-family: roboto;
  padding: 0 0 0 10px;
}
body.woocommerce-page div.product form.cart .button.single_add_to_cart_button { 
  width: 40%;
  height: 30px;
  margin-left: 0%;
  margin-right: 0px;
  background: #000;
  color: #fff;
  font-family: "Roboto-Thin";
  padding: 0px;
  border-radius: 0px; 
  text-transform: none;
}
.product_meta .posted_in a {
  color: #75151a;
}
.product_meta .posted_in a:hover {
  color: red;
  font-size: 16px;
}
body.woocommerce-page div.product .woocommerce-tabs ul.tabs li.active {
  background-color: #000000;
  border-top: 1px solid #544c4c;
  border-bottom: 1px solid #000;
  border-left: 1px solid #544c4c;
  border-right: 1px solid #544c4c;
  padding-bottom: 1px;
}
body.woocommerce-page div.product .woocommerce-tabs .panel { 
  margin-top: -1px;
  margin-bottom: 45px;
  background: #000;
  border: 1px solid #544c4c;
  border-radius: 0;
  position: relative;
}
body.woocommerce-page div.product .woocommerce-tabs ul.tabs { 
  background-color: #000;
  border-radius: 0; 
  padding: 0;
  margin-bottom: 0;
  font-size: 14px; 
}
body.woocommerce-page div.product .woocommerce-tabs ul.tabs li { 
  border-radius: 0;
  background: #000000;
  border: 1px solid #3a4669;
  box-shadow: 0 0 0 0;
  border-bottom-width: 0;
}
#tab-title-reviews{
  margin-left: 40px;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li{
  border:1px solid #d3ced2;
  background-color:#ebe9eb;
  display:inline-block;
  position:relative;
  z-index:0;
  border-radius:4px 4px 0 0;
  margin:0;
  padding:0;
}
body.woocommerce-page div.product .woocommerce-tabs ul.tabs li a { 
  text-shadow: none; 
  font-family: Roboto-Thin; 
  text-transform: uppercase; 
  color: #aaaaaa; 
  padding: 10px 36px; 
}
ul#menu-we_do {
    display: inline-block;
    min-width: 100%;
    padding: 0;
    margin: 0px;
}

ul#menu-we_do > li{
    list-style: none;
    width: 11%;
    text-align: center;
    float: left;
    height: 147px;
    border: 1px solid red;
    display: inline-block;
    position: relative;
    outline: none !important;
}

@media (min-width: 992px) {
  ul#menu-we_do {
      display: inline-block;
      min-width: 1281px;
      padding: 0;
      margin-left: -80px;
      margin-bottom: 80px;
  }

  ul#menu-we_do > li{
      list-style: none;
      width: 11%;
      text-align: center;
      float: left;
      height: 147px;
      border-top: 1px solid red;
      border-left: 1px solid red;
      border-bottom: 1px solid red;
      border-right: 0px solid red;
      display: inline-block;
      position: relative;
      outline: none !important;
  }

  ul#menu-we_do > li:last-child{
      border-right: 1px solid red;
  }
}



ul#menu-we_do > li > a{
  font-size: 12px;
  font-family: BebasNeueLight;
  font-weight: bold;
  display: inline-block;
  width: 100%;
  color: #fff;
  letter-spacing: 0.7px;
}

ul#menu-we_do > li:before{
    content: "";
    margin: 0 0 10px 0;
    height: 83px;
}

ul#menu-we_do > li:after{
    content: "";
    margin: 3px 0 10px 0;
    padding: 11px 6px;
    height: 6px;
    width: 100%;
    background: url(/wp-content/themes/cargopress-pt/assets/images/we_do/niz.png) no-repeat center;
    background-color: #53191b;
    display: inline-block;
}
ul#menu-we_do > li:nth-child(odd){
  background-color: #252525;
}
ul#menu-we_do > li:nth-child(even){
  background-color: #111111;
}

ul#menu-we_do > li:nth-child(1):before{
    float: left;
    width: 100%;
    background: url(/wp-content/themes/cargopress-pt/assets/images/we_do/8.png) no-repeat center bottom;
}
ul#menu-we_do > li:nth-child(2):before{
    float: left;
    width: 100%;
    background: url(/wp-content/themes/cargopress-pt/assets/images/we_do/7.png) no-repeat center bottom;
}
ul#menu-we_do > li:nth-child(3):before{
    float: left;
    width: 100%;
    background: url(/wp-content/themes/cargopress-pt/assets/images/we_do/1.png) no-repeat center bottom;
}
ul#menu-we_do > li:nth-child(4):before{
    float: left;
    width: 100%;
    background: url(/wp-content/themes/cargopress-pt/assets/images/we_do/2.png) no-repeat center bottom;
}
ul#menu-we_do > li:nth-child(5):before{
    float: left;
    width: 100%;
    background: url(/wp-content/themes/cargopress-pt/assets/images/we_do/3.png) no-repeat center bottom;
}
ul#menu-we_do > li:nth-child(6):before{
    float: left;
    width: 100%;
    background: url(/wp-content/themes/cargopress-pt/assets/images/we_do/9.png) no-repeat center bottom;
}
ul#menu-we_do > li:nth-child(7):before{
    float: left;
    width: 100%;
    background: url(/wp-content/themes/cargopress-pt/assets/images/we_do/4.png) no-repeat center bottom;
}
ul#menu-we_do > li:nth-child(8):before{
    float: left;
    width: 100%;
    background: url(/wp-content/themes/cargopress-pt/assets/images/we_do/5.png) no-repeat center bottom;
}
ul#menu-we_do > li:nth-child(9):before{
    float: left;
    width: 100%;
    background: url(/wp-content/themes/cargopress-pt/assets/images/we_do/6.png) no-repeat center bottom;
}

ul#menu-we_do .sub-menu{
  display: none;
}
ul#menu-we_do .line_open .sub-menu {
  display: block;
  
}

ul#menu-we_do .line_open{
  box-shadow: 0px 0px 10px 2px #fff; 
  /*position: inherit;*/ 
}


  ul#menu-we_do .sub-menu {
    position: absolute;
    width: 100%;
    list-style: none;
    left: 0;
    margin-top: 40px;
    padding-left: 0;
    background: #292121;
  }

@media (min-width: 992px) {
  ul#menu-we_do .sub-menu {
    position: absolute;
    width: 100%;
    list-style: none;
    left: 0;
    margin-top: 55px;
    margin-left: -70px;
    background: #292121;
    padding-left: 0;
    min-width: 1251px;
  }
}

ul#menu-we_do .sub-menu li{
  float: left;
  padding: 5px 20px;
}

ul#menu-we_do > li:hover{
  cursor: pointer;
  box-shadow: 0px 0px 10px 2px #fff;
  position: relative;
  z-index: 1000;
}

ul#menu-we_do .sub-menu li > a{
  font-size: 20px;
  font-weight: bold;
  display: inline-block;
  width: 100%;
  color: #fff;
  letter-spacing: 1px;
  border-bottom: 1px solid;
  font-family: BebasNeueLight;
  line-height: 1.2;
}

/*.select-icon {
    position: absolute;
    width: 21px;
    height: 12px;
    background: url(/wp-content/themes/cargopress-pt/assets/images/we_do/icon.png) no-repeat;
    margin-top: 180px;
}
*/
ul#menu-we_do  li.line_open > a:before{
    content: "";
    margin-top: 66px;
    margin-left: 23px;
    position: absolute;
    padding: 5px;
    width: 21px;
    height: 12px;
    background: url(/wp-content/themes/cargopress-pt/assets/images/we_do/icon.png) no-repeat center;
    text-align: center;
}

.woocommerce .widget_price_filter .ui-slider .ui-slider-handle {
    position: absolute;
    z-index: 2;
    width: 0;
    height: 0;
    background-color: #a46497;
    cursor: ew-resize;
    outline: 0;
    top: -11px!important;
    margin-left: -.5em;
    border-radius: 0px!important;
    border-left: 4px solid transparent!important;
    border-right: 4px solid transparent!important;
    border-top: 12px solid #ff1010!important;
    background: transparent!important;
    margin-left: -4px!important;
}
.woocommerce .widget_price_filter .ui-slider .ui-slider-range {
  position: absolute;
  z-index: 1;
  font-size: .7em;
  display: block;
  border: 0;
  border-radius: 0em;
  background-color: #a46497;
}
body.woocommerce-page .widget_price_filter .price_slider_wrapper .ui-widget-content {
  background: #3a4255;
  width: 85%;
  margin-left: 13px;
  border-radius: 0px;
  height: 5px;
}
body.woocommerce-page .woocommerce-ordering .orderby:hover, .woocommerce .woocommerce-ordering .orderby {
  background: #75151a;
}
body.woocommerce-page div.product form.cart div.quantity {
  margin-right: -20px;
  margin-left: 25.5%;
}
body.woocommerce-page div.product form.cart {
  margin: 22px 0;
}
body.woocommerce-page div.product form.cart .button.single_add_to_cart_button:hover {
  background: #75151a;
}
input.input-text.qty.text:hover {
    background: #75151a;
}
body.woocommerce-page .quantity .qty:focus {
  background-color: #75151a;
}
body.woocommerce-page div.product .woocommerce-tabs ul.tabs li.active a {
  color: #ffffff;
  font-family: Roboto-Thin;
}
#tab-description h2{
  font-size: 22px;
  color: #fff;
  margin-left: 10px;
  font-weight: normal;
}
#tab-description p{
  font-family: "Roboto-Thin";
  font-size: 14px;
  margin-left: 10px;
}
body.woocommerce-page #reviews #comments h2 {
  font-size: 22px;
  font-family: BebasNeue Thin;
  color: #fff;
  margin-left: 10px;
  font-weight: normal;
  margin-top: 20px;
}
p.woocommerce-noreviews {
  font-family: "Roboto-Thin";
  font-size: 19px;
  margin-left: 10px;
}
body.woocommerce-page #reviews .comment-reply-title {
    font-family: "Roboto-Thin";
    font-size: 19px;
    margin-left: 10px;
}
body.woocommerce-page .comment-form-rating label {
    font-weight: normal;
    font-family: "Roboto-Thin";
    font-size: 19px;
    margin-left: 10px;
}
body.woocommerce-page .comment-form-comment label {
    font-weight: normal;
    font-family: "Roboto-Thin";
    font-size: 19px;
}
.woocommerce #review_form #respond p {
    margin: 10px 10px 8px;
}
body.woocommerce-page p.stars a { 
  color: #e31e24; 
}
body.woocommerce-page #review_form #respond input, body.woocommerce-page #review_form #respond textarea {
  border: 1px solid #e31e24;
  background-color: #000000;
  padding: 8px;
  color: #fff;
  font-family: "Roboto-Thin";
}
body.woocommerce-page #review_form #respond textarea:focus {
  background-color: #000;
  outline: 0;
  color: #fff;
  font-family: "Roboto-Thin";
  font-size: 18px;
}
body.woocommerce-page #review_form #respond input#submit:hover {
  background-color: #75151a;
}
body.woocommerce-page #review_form #respond input#submit{
  background: #000;
  border: 1px solid #e31e24;
  font-family: Roboto-Thin;
  font-size: 19px;
  padding: 0px 20px;
  text-transform: none;
  height: 30px;
  margin-bottom: 5px;
  margin-right: 5px;
}
.woocommerce p.stars a {
  position: relative;
  height: 0em;
  width: 1em;
  text-indent: -999em;
  display: inline-block;
  text-decoration: none;
  font-size: 25px;
}
body.woocommerce-page .upsells.products h2, body.woocommerce-page .related h2 {
  font-size: 24px;
  margin-top: 0;
  color: #fff;
  font-weight: normal;
}

.hentry__content td{
  width: 222px;
  height: 40px;
  font-size: 14px;
}
caption { 
  padding-top: 8px; 
  padding-bottom: 8px; 
  color: #777777; 
  text-align: left;
  display: none;
 }
 .hentry__content .colortext{
  color: #aa4547;
  font-family: Roboto-Regular;
  font-size: 14px;
 }
 .hentry__content .colortext_2{
  color: #aa4547;
  font-family: Roboto-Regular;
  font-size: 14px;
 }
.siteorigin-widget-tinymce.textwidget p {
  color: #fff;
  font-family: Roboto-Thin;
  font-size: 14px;
  font-weight: 600;
}
.siteorigin-widget-tinymce.textwidget .family-text_2 {
  font-size: 24px;
  color: #e31e24;
  font-family: BebasNeueLight;
  font-weight: 600;
}
.siteorigin-widget-tinymce.textwidget .family-text_2 p {
  font-size: 14px;
  color: #fff;
  font-family: Roboto-Thin;
}
.siteorigin-widget-tinymce.textwidget .family_2 {
  padding: 20px 0px 12px;
}
.sp-horizontal .sp-previous-arrow {
  left: 20px;
  width: 10px;
  height: 22px;
}
.sp-horizontal .sp-next-arrow {
  right: 20px;
  width: 10px;
  height: 22px;
}
.sp-previous-arrow::after, .sp-previous-arrow::before {
    background-color: #e31e24;!important;
}
.sp-next-arrow::after, .sp-next-arrow::before {
    background-color: #e31e24;
}
.sp-image-container {
    border: 2px solid #c2c2c2;
    border-radius: 3px;
}
.sp-full-screen-button::before {
    color: #e31e24;
}
.colortext__2 {
  color: #ff676b;
  font-family: Roboto-Regular;
  font-size: 19px;
}
.colortext_p {
  font-size: 18px;
  font-family: Roboto-Thin;
}
img.alignnone.size-full.wp-image-1072 {
  margin: 0px 7px -9px 0;
}
.textwidget table {
  line-height: 1.2;
}
.siteorigin-widget-tinymce.textwidget p {
  margin: 0px 0 0px;
}
.textwidget table .table_td {
  font-size: 18px; 
  color: white; 
  font-family: Roboto-Light; 
  vertical-align: top;
}
.textwidget table .table_td_3 {
  font-size: 18px; 
  color: white; 
  font-family: Roboto-Light; 
  vertical-align: top;
  padding-left: 2%;
  padding-top: 1%;
}
.widget_black-studio-tinymce p, .widget_text p, .wpb_wrapper p {
  font-size: 18px;
  font-family: Roboto-Light;
  color: #fff;
}
.textwidget .fa {
  font-size: 18px;
  margin-right: 6px;
}
div#pgc-558-0-0 p {
    margin: 0px 0px 0px;
}
.hentry__content #pl-558 #pg-558-0 {
    margin-bottom: 0px;
}
.hentry__content #pl-521 #pg-521-0 {
    margin-bottom: 0px;
}
#pg-521-1.panel-no-style {
    margin-left: 8.1%;
    margin-bottom: 0px;
}
#pg-521-1.panel-no-style p {
    font-size: 30px;
    font-family: BebasNeueLight;
    font-weight: 600;
    letter-spacing: 2px;
}
/*#pg-521-1.panel-no-style #panel-521-1-1-0 p:hover {
    border-bottom-width: 4px;
    border-bottom-style: solid;
    border-bottom-color: #c52929;
}*/
div#panel-521-2-0-0 p {
    font-size: 18px;
    font-family: Roboto-Light;
    text-align: center;
}
div#pgc-521-2-0 {
    width: 83%;
    margin-left: 94px;
}
div#panel-521-3-0-0 p {
    font-size: 24px;
    color: #e31e24;
    font-family: BebasNeueLight;
    font-weight: bold;
}
div#pgc-521-3-0 {
    margin-left: 21%;
}
div#pg-521-4 .textwidget p {
    font-size: 14px;
    font-family: Roboto-Thin;
    text-align: center;
}
div#pg-521-4 .alignnone {
    margin: 0px;
}

div#panel-521-6-1-0 p {
    font-size: 30px;
    text-align: center;
    font-family: BebasNeueLight;
    font-weight: bold;
    letter-spacing: 1px;
}
div#pgc-521-6-0 .textwidget img {
    margin-left: 72%;
    margin-top: 4.8%;
}
div#pgc-521-6-2 .textwidget img {
    margin-top: 4.8%;
}
.form_6 {
  font-family: Roboto-Light; 
  text-align: center; 
  width: 284px;
  height: 140px; 
  border: 1px solid #e31e24;
}
td.form_64 {
    width: 64px;
}
.form_63 {
  font-size: 16px;
  font-family: BebasNeueLight;
  color: #ff676b;
  font-weight: bold;
}
.form_62 {
  text-align: left;
  padding: 0px 0px 36px 10px;
  font-family: Roboto-Light;
}
div#pg-521-7 {
    margin-bottom: -1px;
}
div#pgc-521-8-0 {
    margin-left: 15px;
}
div#pg-521-7 {
    margin-left: 7px;
}
div#pg-521-8 {
    margin-left: 126px;
    margin-right: -126px;
}
.form_63 td {
  font-size: 18px;
  font-family: BebasNeueLight;
  color: #ff676b;
  font-weight: bold;
}
td.form_62 {
    font-size: 12px;
}
img.alignnone.size-full.wp-image-1199 {
    margin: -3px 9px 20px 5px;
}
div#pg-521-6 {
    margin-left: 30px;
}
div#pgc-521-1-1 {
    margin-right: 83px;
}
#huge_it_portfolio_content_1 .og-expander {
    background: rgb(0, 0, 0)!important;
}
#pg-558-1 #panel-558-1-0-2 .textwidget ul.servises_li {
    list-style: decimal;
}
#panel-558-1-0-1 .textwidget p {
    font-size: 30px;
    font-family: BebasNeueLight;
    font-weight: 600;
}
#pg-558-1 #panel-558-1-0-2 .textwidget ul.servises_li {
    list-style: decimal;
    border: s;
    font-size: 14px;
    font-family: Roboto-Regular;
}
div#panel-558-1-0-0 {
    margin-bottom: 0px;
}
#panel-558-1-0-0 .textwidget p {
    margin: 0 0 0px;
}
.colortext_servises {
color: #ff676b;
}
#panel-558-1-0-2 .textwidget p {
    font-size: 14px;
    font-family: Roboto-Regular;
}
#panel-558-1-0-0 span.line-razd {
    margin: 15px 0 0px 0px;
}
#panel-558-1-0-1 p {
    margin: 0 0 0px;
}
body.woocommerce-page .widget_price_filter .price_slider_wrapper .price_label {
    font-size: 16px;
    letter-spacing: 2px;
    line-height: 1; 
    margin-bottom: 20px;
}
body.woocommerce-page .widget_shopping_cart_content .buttons {
    margin-bottom: 0;
    letter-spacing: 1px;
}
tr.woocommerce-cart-form__cart-item.cart_item a {
    color: #e31e24;
    font-family: BebasNeue Thin;
    font-size: 19px;
}
.quantity input.input-text.qty.text {
    background: #000;
    border: 1px solid #e31e24;
}
input.input-text.qty.text:hover {
    background: #75151a;
}
tr.woocommerce-cart-form__cart-item.cart_item td.product-remove {
    width: auto;
}
img.attachment-shop_thumbnail.size-shop_thumbnail.wp-post-image {
    width: 60%;
    border: 2px solid #3a4255;
}
img.attachment-shop_thumbnail.size-shop_thumbnail.wp-post-image:hover {
    width: 60%;
    border: 2px solid #3a4255;
    box-shadow: 0px 0px 14px 1px #e31e24;
}

span.posted_in {
    font-size: 14px;
    font-family: roboto;
}
tr.woocommerce-cart-form__cart-item.cart_item a.remove {
    font-size: 25px;
}
.woocommerce a.remove {
    display: block;
    font-size: 1.5em;
    height: 1.2em;
    width: 1.3em;
    text-align: center;
    line-height: 1;
    border-radius: 100%;
    color: red!important;
    text-decoration: none;
    font-weight: 700;
    border: 0;
}